public/workflows/Design_UI_projects.json
{
  "name": "Design UI projects",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "58ca337c-08fd-4cba-80e6-06c006fe8fef",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1264,
        432
      ],
      "webhookId": "49915063-b3ec-4612-92ed-357b7832288d",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bb3fd9e0-7a46-4ae2-b503-a3d5e7a541e4",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1504,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "p2W4ooQnvVecvmfr",
          "name": "git"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## STEP 2 - Google Stitch\n[Get your API Key](https://stitch.withgoogle.com/docs/mcp/setup) and set Header Auth with name: \"X-Goog-Api-Key\" and value \"YOUR-API-KEY\"\"",
        "height": 496,
        "width": 528,
        "color": 7
      },
      "id": "84cb4bde-15b3-4284-b08b-34e468ce4b09",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "da184335-9adc-423a-8d23-55fd63c4cc3d",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1648,
        496
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "endpointUrl": "https://stitch.googleapis.com/mcp",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "create_project"
        ],
        "options": {
          "timeout": 600000
        }
      },
      "id": "2d8f7450-9cc1-4dac-8145-2b598258f801",
      "name": "Create Project",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        1824,
        512
      ],
      "typeVersion": 1.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "nNzAaSYTSe1VkR6A",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://stitch.googleapis.com/mcp",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "get_project"
        ],
        "options": {
          "timeout": 600000
        }
      },
      "id": "832b9197-cdd1-463e-a84a-eac1e981f603",
      "name": "Get Project",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        1952,
        512
      ],
      "typeVersion": 1.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "nNzAaSYTSe1VkR6A",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://stitch.googleapis.com/mcp",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "list_projects"
        ],
        "options": {
          "timeout": 600000
        }
      },
      "id": "59607d6a-9cbf-44bc-8a0f-b7621378a824",
      "name": "List projects",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        2080,
        512
      ],
      "typeVersion": 1.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "nNzAaSYTSe1VkR6A",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://stitch.googleapis.com/mcp",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "list_screens"
        ],
        "options": {
          "timeout": 600000
        }
      },
      "id": "83cf7b04-6c37-4317-8758-f84f41aa419a",
      "name": "List screen",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        1824,
        688
      ],
      "typeVersion": 1.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "nNzAaSYTSe1VkR6A",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://stitch.googleapis.com/mcp",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "get_screen"
        ],
        "options": {
          "timeout": 600000
        }
      },
      "id": "f24d9ca5-3999-4a73-92df-789e28038e28",
      "name": "Get screen",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        1952,
        688
      ],
      "typeVersion": 1.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "nNzAaSYTSe1VkR6A",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://stitch.googleapis.com/mcp",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "generate_screen_from_text"
        ],
        "options": {
          "timeout": 600000
        }
      },
      "id": "d4ddf52d-9a66-40cc-b84d-0fe58741a33c",
      "name": "Generate Screen",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        2080,
        688
      ],
      "typeVersion": 1.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "nNzAaSYTSe1VkR6A",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if ($input.first().json.message.from.id !== xxx) { // Replace with your Telegram user ID\n    return { unauthorized: true };\n} else {\n    // Return the original data when authorized\n    return $input.all();\n}\n"
      },
      "id": "08bfae9e-bfb1-4495-9482-fad2118aa032",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        592,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9c5ea127-cbbb-4304-8a93-b47b5c09b837",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/stitch"
            }
          ]
        },
        "options": {}
      },
      "id": "1b6f04f2-4e75-48be-b342-d70dbf2f175a",
      "name": "Search with MCP?",
      "type": "n8n-nodes-base.if",
      "position": [
        816,
        240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "80599982-490d-4160-ba71-2cec80fb02e4",
      "name": "Get Message",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        368,
        240
      ],
      "webhookId": "07c09a64-758b-40ea-8c24-d999048781c3",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "AN1WyDaXUsUrkESI",
          "name": "CyberKavach"
        }
      }
    },
    {
      "parameters": {
        "content": "## STEP 1 - Set Telegram Bot\n\nSet your Telegram ID here. the search only occurs when the command \"/stitch\" is present in the message",
        "height": 292,
        "width": 720,
        "color": 7
      },
      "id": "12d0b4dc-9204-4324-997c-020301886860",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "029f4e7e-b367-4aa9-863e-e372694940fb",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json.message.text }}"
            },
            {
              "id": "398c1d7f-0c90-4af6-a414-d4d1968855b9",
              "name": "sessionId",
              "type": "number",
              "value": "={{ $json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7ad2cba9-a301-4960-bd2d-8498671c1fec",
      "name": "Get Text",
      "type": "n8n-nodes-base.set",
      "position": [
        1040,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Message').item.json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "fa76c04c-1624-4c8a-a0cd-80b0660ac2f4",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2912,
        64
      ],
      "webhookId": "160197ce-5576-4437-8ee6-11796f3ce192",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "AN1WyDaXUsUrkESI",
          "name": "CyberKavach"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "725d1d2f-fabd-4c6e-8a84-c0619412e662",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2576,
        256
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "p2W4ooQnvVecvmfr",
          "name": "git"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI agent with access to the Google Stitch MCP tool.\nYour task is to intelligently use Stitch to support design, UI generation, and product prototyping workflows.\n\nBefore taking any action, do the following:\n\nInspect and enumerate all available functions exposed by the Google Stitch MCP tool, including (but not limited to):\n\nUI or layout generation\n\nScreen or component creation\n\nDesign system or style token handling\n\nUX flow generation\n\nWireframe or mockup synthesis\n\nAny transformation, export, or validation capabilities\n\nEvaluate which function or combination of functions best fits the user’s request, considering:\n\nLevel of fidelity (wireframe vs high-fidelity UI)\n\nPlatform target (web, mobile, desktop)\n\nDesign intent (exploration, iteration, production-ready)\n\nInput constraints (text-only prompt, structured data, existing components)\n\nIf the request is ambiguous or underspecified, make reasonable assumptions and clearly state them before calling the tool.\n\nCall the Google Stitch MCP tool using the most appropriate function(s) and provide:\n\nClear, structured inputs\n\nDescriptive naming for screens, components, and flows\n\nConsistent design intent across outputs\n\nAfter the tool call:\n\nSummarize what was generated\n\nExplain which Stitch functions were used and why\n\nSuggest possible follow-up actions or refinements using other available Stitch capabilities\n\nConstraints\n\nDo not hallucinate Stitch features that are not exposed by the MCP tool.\n\nPrefer modular, reusable UI and design outputs.\n\nOptimize for clarity, usability, and extensibility.\n\nAct as a design-aware AI agent: pragmatic, structured, and intentional in how you use Google Stitch.\n\nUse search on web tool in necessary"
        }
      },
      "id": "dd7b7f1c-c2d2-4d34-958c-ade116e05752",
      "name": "Google Stitch Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1776,
        240
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "Convert this text from markdown to html format for telegram message.\n\nWithout ```html\\n and \\n```...only html for telegram.\n\nTelegram supports a limited set of HTML tags including <b>, <strong>, <i>, <em>, <u>, <ins>, <s>, <strike>, <code>, <pre>, and <a>. "
            }
          ]
        },
        "batching": {}
      },
      "id": "37dd1c91-74f7-4fdd-8fa2-0c9d97f76766",
      "name": "From MD to HTML",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2576,
        64
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const originalText = item.json.chatInput;\n\n  const query = originalText.replace(\"/stitch \", \"\");\n\n  item.json.chatInput = query;\n  item.json.sessionId = item.json.sessionId;\n}\n\nreturn $input.all();\n"
      },
      "id": "e9e6cfa0-2340-4b8e-baa7-ac69bde3b5aa",
      "name": "Clean query",
      "type": "n8n-nodes-base.code",
      "position": [
        1424,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a57cbda0-cd51-4842-9747-19b0415a96c9",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $('Get Message').isExecuted }}",
              "rightValue": ""
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "25a65c54-bee4-4e63-a2b7-1788427fcd77",
      "name": "is Telegram?",
      "type": "n8n-nodes-base.if",
      "position": [
        2288,
        240
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "## STEP 3- Send Response\n\nSet response message for Telegram and send it",
        "height": 452,
        "width": 672,
        "color": 7
      },
      "id": "8b8a2d45-29b8-440e-ae01-ee4e8ab3a8d3",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "1d3c9bb2-6201-4fa0-9398-d893bb4e7ea9",
      "name": "Search on web",
      "type": "n8n-nodes-base.perplexityTool",
      "position": [
        2352,
        496
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Search with MCP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Text": {
      "main": [
        [
          {
            "node": "Clean query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get screen": {
      "ai_tool": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Clean query": {
      "main": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project": {
      "ai_tool": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List screen": {
      "ai_tool": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "is Telegram?": {
      "main": [
        [
          {
            "node": "From MD to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List projects": {
      "ai_tool": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Project": {
      "ai_tool": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "From MD to HTML": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Screen": {
      "ai_tool": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search with MCP?": {
      "main": [
        [
          {
            "node": "Get Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Stitch Agent": {
      "main": [
        [
          {
            "node": "is Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "From MD to HTML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search on web": {
      "ai_tool": [
        [
          {
            "node": "Google Stitch Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8c24f04b-8df6-46e1-bd7c-0bca6e358c1b",
  "meta": {
    "templateId": "13269",
    "templateCredsSetupCompleted": true,
    "instanceId": "68b3f0f6e7cfbfd0688ed65eb600db8acb1fb50140fe3266d7a7378f703c940f"
  },
  "id": "vsCwDRGHM4tuCm7j",
  "tags": []
}